<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="QL_BaiDoXeEntities"
			 connectionString="metadata=res://*/Models.QL_BaiDoXe_Model.csdl|res://*/Models.QL_BaiDoXe_Model.ssdl|res://*/Models.QL_BaiDoXe_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=QL_BaiDoXe;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>